body {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center
}

.book-card {
  /* border: 1px solid black;
  padding: 12px;
  width: 50%;
  text-align: center; */
}

#books {
  max-height: 60vh;
  max-width: 60vw;
  overflow-y: scroll;
}